Repository Proyecto-ing-biomed-UC/Ciervo, changes with the labels that .github/labeler.yml gives for each.
All labels: aux, io, models, plots, simulations, docker, examples, tests

.github/labeler.yml:

aux:
- changed-files:
  - any-glob-to-any-file: "ciervo/aux_tools/**"

io:
- changed-files:
  - any-glob-to-any-file: "ciervo/io/**"

models:
- changed-files:
  - any-glob-to-any-file: "ciervo/models/**"

plots:
- changed-files:
  - any-glob-to-any-file: "ciervo/plots/**"

simulations:
- changed-files:
  - any-glob-to-any-file: "ciervo/simulations/**"


docker:
- changed-files:
  - any-glob-to-any-file: "docker/**"

examples:
- changed-files:
  - any-glob-to-any-file: "examples/**"

tests:
- changed-files:
  - any-glob-to-any-file: "tests/**"

update test
  estimulos/test.py
Labels: none

set limits in plot
  ciervo/plots/stream_plot.py
Labels: plots

add debug code
  hardware/Ciervo-RasPi/serial_functions.py
  hardware/Ciervo-Teensy/platformio.ini
  hardware/Ciervo-Teensy/src/debug_mode/main.cpp
  hardware/Ciervo-Teensy/src/main/main.cpp
  hardware/Ciervo-Teensy/src/main_v2/main.cpp
  hardware/Ciervo-Teensy/src/main_v3/main.cpp
  hardware/Ciervo-Teensy/src/old/0read_encoder.txt
  hardware/Ciervo-Teensy/src/old/main backup.txt
  hardware/Ciervo-Teensy/src/old/test_encoder_main.txt
  hardware/Ciervo-Teensy/src/receive_float/main.cpp
  hardware/Ciervo-Teensy/src/send_byte/main.cpp
  hardware/Ciervo-Teensy/src/test_com/main.cpp
Labels: none

estimulos
  estimulos/contraction_relaxation.py
  estimulos/test.py
Labels: none

update kp
  hardware/Ciervo-Teensy/src/debug_mode/main.cpp
Labels: none

update
  ciervo/models/realtime_inference.py
Labels: models

update
  ciervo/models/realtime_inference.py
Labels: models

Update main.cpp
  hardware/Ciervo-Teensy/src/debug_mode/main.cpp
Labels: none

update
  hardware/Ciervo-RasPi/angle_path_test.py
  hardware/Ciervo-RasPi/plot_angle_data.py
  hardware/Ciervo-RasPi/send_angle_serial.py
  hardware/Ciervo-RasPi/send_angle_setpoint.py
  hardware/Ciervo-RasPi/send_float_value.py
  hardware/Ciervo-RasPi/send_xy_float.py
  hardware/Ciervo-RasPi/serial_functions.py
  hardware/Ciervo-Teensy/platformio.ini
  hardware/Ciervo-Teensy/src/main/main.cpp
  hardware/Ciervo-Teensy/src/old_main/main.cpp
Labels: none

Bringing realtiem_inference.py from raspi_teensy_bugfix
  ciervo/models/realtime_inference.py
Labels: models

update estirar
  estimulos/test.py
Labels: none

test
  estimulos/test.py
Labels: none

working diego
  ciervo/models/estirar.py
  ciervo/models/features.py
  ciervo/models/realtime_inference.py
  ciervo/models/train.py
  estimulos/test.py
  hardware/Ciervo-Teensy/src/main/main.cpp
  model.pkl
Labels: models

entrenamineot uc
  ciervo/io/stream.py
  ciervo/models/realtime_inference.py
Labels: io, models

recording folder
  recordings/caminando.npy
  recordings/contra_relax.npy
  recordings/contra_relax1.npy
  recordings/contra_relaxation.npy
  recordings/firstTrial.npy
  recordings/last_day.npy
  recordings/last_day2.npy
  recordings/otro5.npy
  recordings/otro6.npy
  recordings/prueba1.npy
  recordings/prueba_clas0510.npy
  recordings/viernes.npy
  recordings/viernes2.npy
Labels: none

new train
  ciervo/models/train.py
Labels: models

limit_switch_removal
  hardware/Ciervo-Teensy/src/main/main.cpp
Labels: none

Update main.cpp
  hardware/Ciervo-Teensy/src/main/main.cpp
Labels: none

update recordings
  recordings/otro7.npy
  recordings/otro8.npy
  recordings/otro9.npy
Labels: none

update dockr
  docker/Dockerfile.cyton
Labels: docker

hardware
  hardware/Ciervo-Teensy/src/main/main.cpp
Labels: none

update
  ciervo/parameters.py
  docker-compose.cyton.yml
Labels: none

recordings
  recordings/cam1.npy
  recordings/cam_over.npy
  recordings/caminata_normal.npy
Labels: none

files
  .gitignore
  ciervo/io/stream.py
  ciervo/models/estirar.py
  ciervo/models/realtime_inference.py
  ciervo/models/train.py
  docker-compose.cyton.yml
Labels: io, models

best model
  best.pkl
Labels: none

este siq ue si
  ciervo/io/stream.py
  ciervo/models/estirar.py
  ciervo/models/realtime_inference.py
  estimulos/readme.md
Labels: io, models

working
  ciervo/io/stream.py
  ciervo/models/realtime_inference.py
  ciervo/parameters.py
  docker-compose.cyton.yml
Labels: io, models
