Repository Proyecto-ing-biomed-UC/Ciervo, changes with the labels that .github/labeler.yml gives for each.
All labels: aux, io, models, plots, simulations, docker, examples, tests

.github/labeler.yml:

aux:
- changed-files:
  - any-glob-to-any-file: "ciervo/aux_tools/**"

io:
- changed-files:
  - any-glob-to-any-file: "ciervo/io/**"

models:
- changed-files:
  - any-glob-to-any-file: "ciervo/models/**"

plots:
- changed-files:
  - any-glob-to-any-file: "ciervo/plots/**"

simulations:
- changed-files:
  - any-glob-to-any-file: "ciervo/simulations/**"


docker:
- changed-files:
  - any-glob-to-any-file: "docker/**"

examples:
- changed-files:
  - any-glob-to-any-file: "examples/**"

tests:
- changed-files:
  - any-glob-to-any-file: "tests/**"

pipy setup
  ciervo/io/load.py
  ciervo/tests/__init__.py
  ciervo/tests/data/.keep
  ciervo/tests/data/__init__.py
  ciervo/tests/data/marcha/Marcha1_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha10_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha11_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha13_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha14_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha15_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha16_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha17_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha18_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha2_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha3_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha4_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha5_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha6_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha7_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha8_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha9_with_angle_converted.csv
  examples/.keep
  examples/Load_and_classification.ipynb
  requeriments.txt
  setup.py
Labels: io, examples

Create python-publish.yml
  .github/workflows/python-publish.yml
Labels: none

pip publish
  .github/workflows/python-publish.yml
  setup.py
  tests/data/.keep
  tests/data/marcha/Marcha1_with_angle_converted.csv
  tests/data/marcha/marcha10_with_angle_converted.csv
  tests/data/marcha/marcha11_with_angle_converted.csv
  tests/data/marcha/marcha13_with_angle_converted.csv
  tests/data/marcha/marcha14_with_angle_converted.csv
  tests/data/marcha/marcha15_with_angle_converted.csv
  tests/data/marcha/marcha16_with_angle_converted.csv
  tests/data/marcha/marcha17_with_angle_converted.csv
  tests/data/marcha/marcha18_with_angle_converted.csv
  tests/data/marcha/marcha2_with_angle_converted.csv
  tests/data/marcha/marcha3_with_angle_converted.csv
  tests/data/marcha/marcha4_with_angle_converted.csv
  tests/data/marcha/marcha5_with_angle_converted.csv
  tests/data/marcha/marcha6_with_angle_converted.csv
  tests/data/marcha/marcha7_with_angle_converted.csv
  tests/data/marcha/marcha8_with_angle_converted.csv
  tests/data/marcha/marcha9_with_angle_converted.csv
Labels: tests

fix workflow
  .github/workflows/python-publish.yml
Labels: none

ciervo se basa en python 3.10
  .github/workflows/python-publish.yml
  setup.py
Labels: none

update readme
  README.md
Labels: none

update action
  .github/workflows/python-publish.yml
Labels: none

v0.1.16
  .github/workflows/python-publish.yml
Labels: none

0.1.17
  .github/workflows/python-publish.yml
Labels: none

fix workflow
  .github/workflows/python-publish.yml
Labels: none

update setup
  setup.py
Labels: none

worflow
  .github/workflows/python-publish.yml
Labels: none

main branch
  .github/workflows/python-publish.yml
Labels: none

tag workflow
  .github/workflows/python-publish.yml
Labels: none

release
  .github/workflows/python-publish.yml
Labels: none

fix publish
  .github/workflows/python-publish.yml
Labels: none

test
  .github/workflows/python-publish.yml
Labels: none

version tag gormat
  .github/workflows/python-publish.yml
Labels: none

change format
  .github/workflows/python-publish.yml
Labels: none

update
  .github/workflows/python-publish.yml
Labels: none

otro action
  .github/workflows/python-publish.yml
Labels: none

test calver
  .github/workflows/python-publish.yml
Labels: none

python tag
  .github/workflows/python-publish.yml
Labels: none

final push
  .github/workflows/python-publish.yml
Labels: none

working
  .github/workflows/python-publish.yml
Labels: none

fix release
  .github/workflows/python-publish.yml
Labels: none

another
  .github/workflows/python-publish.yml
Labels: none

update
  .github/workflows/python-publish.yml
Labels: none

build
  .github/workflows/python-publish.yml
Labels: none

fix tag
  .github/workflows/python-publish.yml
Labels: none

error
  .github/workflows/python-publish.yml
Labels: none

update README
  README.md
Labels: none

tag workflow
  .github/workflows/python-publish.yml
Labels: none

last try
  .github/workflows/python-publish.yml
Labels: none

update
  .github/workflows/python-publish.yml
Labels: none

pypi
  .github/workflows/python-publish.yml
Labels: none

speed test
  .github/workflows/python-publish.yml
Labels: none

update
  .github/workflows/python-publish.yml
Labels: none

workflow
  .github/workflows/python-publish.yml
Labels: none

downsample data
  ciervo/io/load.py
  ciervo/tests/data/marcha/Marcha1_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha10_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha11_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha13_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha14_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha15_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha16_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha17_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha18_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha2_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha3_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha4_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha5_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha6_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha7_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha8_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha9_with_angle_converted.csv
  ciervo/tests/data/marcha/marcha_0.csv
  ciervo/tests/data/marcha/marcha_1.csv
  ciervo/tests/data/marcha/marcha_10.csv
  ciervo/tests/data/marcha/marcha_11.csv
  ciervo/tests/data/marcha/marcha_12.csv
  ciervo/tests/data/marcha/marcha_13.csv
  ciervo/tests/data/marcha/marcha_14.csv
  ciervo/tests/data/marcha/marcha_15.csv
  ciervo/tests/data/marcha/marcha_16.csv
  ciervo/tests/data/marcha/marcha_2.csv
  ciervo/tests/data/marcha/marcha_3.csv
  ciervo/tests/data/marcha/marcha_4.csv
  ciervo/tests/data/marcha/marcha_5.csv
  ciervo/tests/data/marcha/marcha_6.csv
  ciervo/tests/data/marcha/marcha_7.csv
  ciervo/tests/data/marcha/marcha_8.csv
  ciervo/tests/data/marcha/marcha_9.csv
Labels: io
