Repository Proyecto-ing-biomed-UC/Ciervo, changes with the labels that .github/labeler.yml gives for each.
All labels: aux, io, models, plots, simulations, docker, examples, tests

update
  hardware/Ciervo-RasPi/send_xy_float.py
  hardware/Ciervo-Teensy/src/test_com/main.cpp
Labels: none

update
  hardware/Ciervo-RasPi/send_float_value.py
  hardware/Ciervo-RasPi/send_xy_float.py
  hardware/Ciervo-Teensy/src/receibe_float/main.cpp
Labels: none

'update'
  hardware/Ciervo-RasPi/send_angle_setpoint.py
  hardware/Ciervo-RasPi/send_float_value.py
  hardware/Ciervo-Teensy/.vscode/settings.json
  hardware/Ciervo-Teensy/platformio.ini
  hardware/Ciervo-Teensy/src/main_v2/main.cpp
  hardware/Ciervo-Teensy/src/receive_float/main.cpp
Labels: none

'update'
  hardware/Ciervo-RasPi/send_float_value.py
  hardware/Ciervo-Teensy/src/main_v2/main.cpp
Labels: none

'update'
  hardware/Ciervo-Teensy/src/main_v2/main.cpp
Labels: none

update
  hardware/Ciervo-RasPi/send_float_value.py
Labels: none

'update'
  hardware/Ciervo-Teensy/src/main_v2/main.cpp
Labels: none

always restart
  docker-compose.mqtt-only.yml
Labels: none

fix bug plot
  ciervo/plots/stream_plot.py
Labels: plots

working
  ciervo/aux_tools/buffer.py
  ciervo/models/realtime_inference.py
  ciervo/models/train.py
  ciervo/parameters.py
  docker-compose.cyton.yml
  docker/Dockerfile.inference
Labels: aux, models, docker

update
  ciervo/io/store_stream.py
  ciervo/io/stream.py
  ciervo/simulation/synthetic_stream.py
  docker-compose.cyton.yml
  estimulos/contraction_relaxation.py
  hardware/Ciervo-RasPi/send_float_value.py
Labels: io

update
  docker/Dockerfile.cyton
  docker/Dockerfile.inference
Labels: docker

5ta semana update 2.0
  Experimentos Clasificadores/5ta Semana/5-Con RN con HO.ipynb
  Experimentos Clasificadores/5ta Semana/5. Con RN con HO-python.py
  Experimentos Clasificadores/5ta Semana/functions.py
  Experimentos Clasificadores/5ta Semana/play.py
Labels: none

modifico train con predict_proba y train2 gridsearch params de randomForest
  Experimentos Clasificadores/5ta Semana/Untitled.ipynb
  ciervo/models/split.py
  ciervo/models/train.py
  ciervo/models/train2.py
  ciervo/parameters.py
Labels: models

elimino carpeta experimentos clasificadores
  Experimentos Clasificadores/5ta Semana/Untitled.ipynb
Labels: none

first commit
  hardware/Ciervo-RasPi/serial_functions.py
  hardware/Ciervo-Teensy/platformio.ini
  hardware/Ciervo-Teensy/src/main_v3/main.cpp
  hardware/Ciervo-Teensy/src/send_byte/main.cpp
Labels: none

update
  hardware/Ciervo-RasPi/serial_functions.py
Labels: none

Update
  hardware/Ciervo-RasPi/serial_functions.py
Labels: none

Update serial_functions.py
  hardware/Ciervo-RasPi/serial_functions.py
Labels: none

Update serial_functions.py
  hardware/Ciervo-RasPi/serial_functions.py
Labels: none

Update serial_functions.py
  hardware/Ciervo-RasPi/serial_functions.py
Labels: none

Update serial_functions.py
  hardware/Ciervo-RasPi/serial_functions.py
Labels: none

Update serial_functions.py
  hardware/Ciervo-RasPi/serial_functions.py
Labels: none

Update main.cpp
  hardware/Ciervo-Teensy/src/main_v3/main.cpp
Labels: none

update
  hardware/Ciervo-Teensy/platformio.ini
  hardware/Ciervo-Teensy/src/main_v3/main.cpp
Labels: none

'update'
  hardware/Ciervo-RasPi/serial_functions.py
  hardware/Ciervo-Teensy/src/main_v3/main.cpp
Labels: none

update pwm pins and add limit angle range
  hardware/Ciervo-Teensy/src/main_v3/main.cpp
Labels: none

update
  ciervo/io/stream.py
  ciervo/simulation/synthetic_stream.py
Labels: io

update
  ciervo/plots/stream_plot.py
Labels: plots

working version
  ciervo/io/stream.py
  ciervo/models/realtime_inference.py
  ciervo/models/train.py
  ciervo/parameters.py
  estimulos/contraction_relaxation.py
Labels: io, models

feat(limit switch)
  hardware/Ciervo-Teensy/platformio.ini
  hardware/Ciervo-Teensy/src/main_v4/main.cpp
Labels: none

change angle from 90 to 180
  ciervo/models/realtime_inference.py
Labels: models

ojala
  ciervo/models/realtime_inference.py
Labels: models

Update realtime_inference.py
  ciervo/models/realtime_inference.py
Labels: models

update realtime
  ciervo/models/realtime_inference.py
Labels: models

0.82 accuracy model.pkl
  ciervo/models/.train.py.swp
  ciervo/models/realtime_inference.py
  ciervo/models/train.py
  hardware/Ciervo-RasPi/serial_functions.py
Labels: models

requiremientos
  requirements.txt
Labels: none

estirar
  ciervo/models/estirar.py
Labels: models

update
  ciervo/io/stream.py
  ciervo/models/realtime_inference.py
  ciervo/models/train.py
Labels: io, models

estirar
  ciervo/models/estirar.py
Labels: models

.github/labeler.yml:

aux:
- changed-files:
  - any-glob-to-any-file: "ciervo/aux_tools/**"

io:
- changed-files:
  - any-glob-to-any-file: "ciervo/io/**"

models:
- changed-files:
  - any-glob-to-any-file: "ciervo/models/**"

plots:
- changed-files:
  - any-glob-to-any-file: "ciervo/plots/**"

simulations:
- changed-files:
  - any-glob-to-any-file: "ciervo/simulations/**"


docker:
- changed-files:
  - any-glob-to-any-file: "docker/**"

examples:
- changed-files:
  - any-glob-to-any-file: "examples/**"

tests:
- changed-files:
  - any-glob-to-any-file: "tests/**"
