Repository Proyecto-ing-biomed-UC/Ciervo, changes with the labels that .github/labeler.yml gives for each.
All labels: aux, io, models, plots, simulations, docker, examples, tests

labeler
  .github/workflows/label.yml
Labels: none

update example
  examples/Load_and_classification.ipynb
Labels: examples

update
  README.md
Labels: none

update readme
  README.md
Labels: none

Docker documentation
  docker/README.md
Labels: docker

simulation stream
  ciervo/plots/synthetic_stream_plot.py
  ciervo/simulation/synthetic_stream.py
Labels: plots

Update README.md
  README.md
Labels: none

stream sintetico
  ciervo/simulation/synthetic_stream.py
Labels: none

streaming plot
  ciervo/plots/synthetic_stream_plot.py
Labels: plots

stream plot
  ciervo/plots/stream_plot.py
Labels: plots

parameters
  ciervo/parameters.py
Labels: none

Subida carpeta Experimentos Clasificadores
  Experimentos Clasificadores/Experimentos sin RN, con HO.ipynb
  Experimentos Clasificadores/Load & Classification Estructurado.ipynb
Labels: none

stream encapsulado en docker
  .gitignore
  ciervo/__init__.py
  ciervo/aux_tools/__init__.py
  ciervo/aux_tools/buffer.py
  ciervo/io/store_stream.py
  ciervo/parameters.py
  ciervo/plots/stream_plot.py
  ciervo/simulation/synthetic_stream.py
  docker-compose.yml
  docker/.dockerignore
  docker/Dockerfile.stream
  recordings/.keep
  requeriments.txt
  requirements.txt
Labels: aux, io, plots, docker

image size 668
  docker/Dockerfile.stream
Labels: docker

docker container optimizado
  .dockerignore
  docker/.dockerignore
  docker/Dockerfile.stream
Labels: docker

archivocon RN y HO + archivo sin RN y VC
  Experimentos Clasificadores/Con Redes Neuronales/Experimentos con RN con HO.ipynb
  Experimentos Clasificadores/Sin Redes Neuronales/Experimentos sin RN, con HO.ipynb
  Experimentos Clasificadores/Sin Redes Neuronales/Experimentos sin RN, con VC.ipynb
  Experimentos Clasificadores/Sin Redes Neuronales/Load & Classification Estructurado.ipynb
Labels: none

Cambios en el entrenamiento, fix lstm y uso de gpu
  Experimentos Clasificadores/Con Redes Neuronales/Experimentos con RN con HO.ipynb
Labels: none

spectrogram feature
  Experimentos Clasificadores/features.ipynb
Labels: none

marcha larga añadida
  ciervo/io/__init__.py
  ciervo/io/load.py
Labels: io

fix path de archivos
  setup.py
Labels: none

ahora si ?
  setup.py
Labels: none

corrección de paths en load
  ciervo/io/load.py
Labels: io

package_data path
  setup.py
Labels: none

back to the working version
  setup.py
Labels: none

marcha larga data
  setup.py
Labels: none

fix path marcha larga
  setup.py
Labels: none

update readme
  README.md
Labels: none

plot arreglado para example_marcha_larga
  ciervo/plots/emg.py
Labels: plots

fix error donde la columna tiempo estaba mala
  ciervo/io/load.py
Labels: io

filtros añadidos
  README.md
  ciervo/procesamiento/__init__.py
  ciervo/procesamiento/filtrado.py
Labels: none

correcciones issue 17
  Experimentos Clasificadores/Con Redes Neuronales/Experimentos con RN con HO.ipynb
Labels: none

carpeta hardware
  hardware/README.md
Labels: none

split y label data
  ciervo/models/__init__.py
  ciervo/models/label.py
  ciervo/models/split.py
Labels: models

update readme
  README.md
Labels: none

wiki en readme
  README.md
Labels: none

update
  README.md
Labels: none

nombre de columnas actualizadas en data
  ciervo/tests/data/marcha/marcha_0.csv
  ciervo/tests/data/marcha/marcha_1.csv
  ciervo/tests/data/marcha/marcha_10.csv
  ciervo/tests/data/marcha/marcha_11.csv
  ciervo/tests/data/marcha/marcha_12.csv
  ciervo/tests/data/marcha/marcha_13.csv
  ciervo/tests/data/marcha/marcha_14.csv
  ciervo/tests/data/marcha/marcha_15.csv
  ciervo/tests/data/marcha/marcha_16.csv
  ciervo/tests/data/marcha/marcha_2.csv
  ciervo/tests/data/marcha/marcha_3.csv
  ciervo/tests/data/marcha/marcha_4.csv
  ciervo/tests/data/marcha/marcha_5.csv
  ciervo/tests/data/marcha/marcha_6.csv
  ciervo/tests/data/marcha/marcha_7.csv
  ciervo/tests/data/marcha/marcha_8.csv
  ciervo/tests/data/marcha/marcha_9.csv
Labels: none

actualizacion con example_marcha_larga
  Experimentos Clasificadores/1era Semana/Con example_marcha/Con Redes Neuronales/1Con RN con HO.ipynb
  Experimentos Clasificadores/1era Semana/Con example_marcha/Sin Redes Neuronales/1Load & Classification Estructurado.ipynb
  Experimentos Clasificadores/1era Semana/Con example_marcha/Sin Redes Neuronales/1Sin RN, con HO.ipynb
  Experimentos Clasificadores/1era Semana/Con example_marcha/Sin Redes Neuronales/1Sin RN, con VC.ipynb
  Experimentos Clasificadores/2da Semana/Con example_marcha_larga/Con Redes Neuronales/2Con RN con HO.ipynb
  Experimentos Clasificadores/2da Semana/Con example_marcha_larga/Sin Redes Neuronales/2Sin RN, con HO.ipynb
  Experimentos Clasificadores/2da Semana/Con example_marcha_larga/Sin Redes Neuronales/2Sin RN, con VC.ipynb
  Experimentos Clasificadores/Con Redes Neuronales/Experimentos con RN con HO.ipynb
  Experimentos Clasificadores/Sin Redes Neuronales/Experimentos sin RN, con HO.ipynb
  Experimentos Clasificadores/Sin Redes Neuronales/Experimentos sin RN, con VC.ipynb
  Experimentos Clasificadores/Sin Redes Neuronales/Load & Classification Estructurado.ipynb
Labels: none

fix labels
  ciervo/models/label.py
  ciervo/plots/emg.py
Labels: models, plots

first commit
  hardware/Ciervo-Teensy/.gitignore
  hardware/Ciervo-Teensy/.vscode/extensions.json
  hardware/Ciervo-Teensy/include/README
  hardware/Ciervo-Teensy/platformio.ini
  hardware/Ciervo-Teensy/src/main.cpp
  hardware/Ciervo-Teensy/test/README
Labels: none

.github/labeler.yml:

aux:
- changed-files:
  - any-glob-to-any-file: "ciervo/aux_tools/**"

io:
- changed-files:
  - any-glob-to-any-file: "ciervo/io/**"

models:
- changed-files:
  - any-glob-to-any-file: "ciervo/models/**"

plots:
- changed-files:
  - any-glob-to-any-file: "ciervo/plots/**"

simulations:
- changed-files:
  - any-glob-to-any-file: "ciervo/simulations/**"


docker:
- changed-files:
  - any-glob-to-any-file: "docker/**"

examples:
- changed-files:
  - any-glob-to-any-file: "examples/**"

tests:
- changed-files:
  - any-glob-to-any-file: "tests/**"
