Repository Proyecto-ing-biomed-UC/Ciervo, changes with the labels that .github/labeler.yml gives for each.
All labels: aux, io, models, plots, simulations, docker, examples, tests

teensy with pid motor and encoder
  hardware/Ciervo-Teensy/.vscode/settings.json
  hardware/Ciervo-Teensy/platformio.ini
  hardware/Ciervo-Teensy/src/0read_encoder.txt
  hardware/Ciervo-Teensy/src/main.cpp
  hardware/Ciervo-Teensy/src/test_encoder_main.txt
Labels: none

Add MQTT data collection and InfluxDB integration with news channels configuration and docker setup
  .gitignore
  ciervo/parameters.py
  ciervo/saveData/getDataFromRaspberry.py
  ciervo/saveData/saveDataInCSVFormat.py
  ciervo/simulation/synthetic_stream.py
  docker-compose.yml
  docker/Dockerfile.getData
  requirements.txt
Labels: docker

Token definido en docker compose
  docker-compose.yml
Labels: none

Implement GUI for data capture management
  ciervo/parameters.py
  ciervo/saveData/getDataFromRaspberry.py
  ciervo/saveData/gui_data_capture.py
  ciervo/saveData/saveDataInCSVFormat.py
  ciervo/saveData/tomaMuestrasEMG.md
  requirements.txt
Labels: none

USB setpoint
  hardware/Ciervo-RasPi/angle_path_test.py
  hardware/Ciervo-RasPi/data/angle.csv
  hardware/Ciervo-RasPi/plot_angle_data.py
  hardware/Ciervo-RasPi/send_angle_serial.py
  hardware/Ciervo-Teensy/src/main backup.txt
Labels: none

update docker
  docker-compose.cyton.yml
  docker/Dockerfile.cyton
Labels: docker

stream
  ciervo/io/stream.py
Labels: io

parms stream
  ciervo/io/stream.py
  ciervo/parameters.py
Labels: io

stream plot general
  ciervo/parameters.py
  ciervo/plots/stream_plot.py
Labels: plots

update code to new channels
  ciervo/parameters.py
  ciervo/saveData/getDataFromRaspberry.py
  ciervo/saveData/gui_data_capture.py
  ciervo/saveData/saveDataInCSVFormat.py
  ciervo/simulation/synthetic_stream.py
Labels: none

marcha files
  ciervo/aux_tools/fix_bioradio_csv.py
  ciervo/io/load.py
  ciervo/io/stream.py
Labels: aux, io

fix files
  ciervo/aux_tools/fix_bioradio_csv.py
  ciervo/io/load.py
Labels: aux, io

reduce filesize
  ciervo/aux_tools/fix_bioradio_csv.py
Labels: aux

la data no se guarda en el repo
  .gitignore
  ciervo/io/__init__.py
  ciervo/io/load.py
  ciervo/tests/data/marcha/marcha_0.csv
  ciervo/tests/data/marcha/marcha_1.csv
  ciervo/tests/data/marcha/marcha_10.csv
  ciervo/tests/data/marcha/marcha_11.csv
  ciervo/tests/data/marcha/marcha_12.csv
  ciervo/tests/data/marcha/marcha_13.csv
  ciervo/tests/data/marcha/marcha_14.csv
  ciervo/tests/data/marcha/marcha_15.csv
  ciervo/tests/data/marcha/marcha_16.csv
  ciervo/tests/data/marcha/marcha_2.csv
  ciervo/tests/data/marcha/marcha_3.csv
  ciervo/tests/data/marcha/marcha_4.csv
  ciervo/tests/data/marcha/marcha_5.csv
  ciervo/tests/data/marcha/marcha_6.csv
  ciervo/tests/data/marcha/marcha_7.csv
  ciervo/tests/data/marcha/marcha_8.csv
  ciervo/tests/data/marcha/marcha_9.csv
  data/README.md
Labels: io

load
  ciervo/io/load.py
Labels: io

fix load
  ciervo/io/__init__.py
Labels: io

fix load
  ciervo/io/load.py
Labels: io

remove carpeta sin uso
  ciervo/tests/data/.keep
  ciervo/tests/data/__init__.py
Labels: none

codigos para training spectrograma GaitRNN
  ciervo/aux_tools/__init__.py
  ciervo/aux_tools/devices.py
  ciervo/models/__init__.py
  ciervo/models/dataset/__init__.py
  ciervo/models/dataset/dataset.py
  ciervo/models/label.py
  ciervo/models/redes/__init__.py
  ciervo/models/redes/rnn.py
  ciervo/models/split.py
Labels: aux, models

update requirements
  .gitignore
  requirements.txt
Labels: none

update play
  play.py
  requirements.txt
Labels: none

update
  ciervo/models/dataset/dataset.py
  play.py
Labels: models

update
  play.py
Labels: none

working gait RNN
  ciervo/models/dataset/dataset.py
  ciervo/models/redes/rnn.py
Labels: models

update 12 channels
  ciervo/io/stream.py
  ciervo/plots/stream_plot.py
  ciervo/saveData/gui_data_capture.py
  requirements.txt
Labels: io, plots

update split
  ciervo/models/dataset/dataset.py
  ciervo/models/split.py
Labels: models

update(serial communication)
  hardware/Ciervo-RasPi/Requirements.txt
  hardware/Ciervo-RasPi/angle_path_test.py
  hardware/Ciervo-Teensy/src/main.cpp
Labels: none

5ta semana update
  Experimentos Clasificadores/3era Semana/Resumir/functions.ipynb
  Experimentos Clasificadores/4ta Semana/4-Con RN con HO-Copy1.ipynb
  Experimentos Clasificadores/4ta Semana/functions.ipynb
  Experimentos Clasificadores/5ta Semana/5-Con RN con HO.ipynb
  Experimentos Clasificadores/5ta Semana/functions.ipynb
Labels: none

file to gitignore
  .gitignore
Labels: none

update inference
  ciervo/models/__init__.py
  ciervo/models/features.py
  ciervo/models/realtime_inference.py
  ciervo/parameters.py
  ciervo/plots/stream_plot.py
  ciervo/simulation/synthetic_stream.py
  requirements.txt
Labels: models, plots

update docker compose
  docker-compose.yml
Labels: none

estimulos funcionando
  ciervo/io/store_stream.py
  ciervo/parameters.py
  ciervo/plots/stream_plot.py
  ciervo/simulation/synthetic_stream.py
  docker-compose.yml
  estimulos/contraction_relaxation.py
  estimulos/readme.md
  play.py
Labels: io, plots

udate
  ciervo/io/stream.py
Labels: io

update model
  ciervo/models/realtime_inference.py
  ciervo/models/train.py
  ciervo/parameters.py
  model.pkl
Labels: models

files
  docker-compose.mqtt-only.yml
  model.pkl
Labels: none

stream
  ciervo/models/train.py
  estimulos/contraction_relaxation.py
Labels: models

update
  ciervo/aux_tools/__init__.py
  ciervo/io/stream.py
  ciervo/parameters.py
  ciervo/procesamiento/__init__.py
  ciervo/procesamiento/filtrado.py
  ciervo/simulation/synthetic_stream.py
  docker/Dockerfile.cyton
Labels: aux, io, docker

tiempo de contracción relajacipon
  estimulos/contraction_relaxation.py
Labels: none

reduce docker compose
  docker-compose.cyton.yml
  docker-compose.yml
Labels: none

update
  hardware/Ciervo-RasPi/angle_path_test.py
  hardware/Ciervo-RasPi/send_xy_float.py
  hardware/Ciervo-Teensy/platformio.ini
  hardware/Ciervo-Teensy/src/main/main.cpp
  hardware/Ciervo-Teensy/src/old/0read_encoder.txt
  hardware/Ciervo-Teensy/src/old/main backup.txt
  hardware/Ciervo-Teensy/src/old/test_encoder_main.txt
  hardware/Ciervo-Teensy/src/test_com/main.cpp
Labels: none

.github/labeler.yml:

aux:
- changed-files:
  - any-glob-to-any-file: "ciervo/aux_tools/**"

io:
- changed-files:
  - any-glob-to-any-file: "ciervo/io/**"

models:
- changed-files:
  - any-glob-to-any-file: "ciervo/models/**"

plots:
- changed-files:
  - any-glob-to-any-file: "ciervo/plots/**"

simulations:
- changed-files:
  - any-glob-to-any-file: "ciervo/simulations/**"


docker:
- changed-files:
  - any-glob-to-any-file: "docker/**"

examples:
- changed-files:
  - any-glob-to-any-file: "examples/**"

tests:
- changed-files:
  - any-glob-to-any-file: "tests/**"
